* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #020617;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #38bdf8;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.btn {
  background: #38bdf8;
  padding: 8px 15px;
  border-radius: 6px;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #020617, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #38bdf8;
}

.primary-btn {
  display: inline-block;
  margin-top: 20px;
  background: #38bdf8;
  padding: 12px 25px;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

.services, .work, .about, .contact {
  padding: 80px 10%;
  text-align: center;
}

.service-box, .projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card, .project {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  transition: 0.4s;
}

.card:hover, .project:hover {
  transform: translateY(-10px);
  background: #1e293b;
}

.contact form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  background: #38bdf8;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
